<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Fitness Friend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <p>Fitness friend is your ultimate fitness companion</p>
    </header>
      

    <main>
        <div class="aboutus">
            Fitness Friend is a workout tracker unique to you! Are you an experienced lifter?
            Create your own plans consisting of up to 8 lifts with custom set and rep amounts. New to lifting? We can help you create your own workout plan based on your goals with the click of a button using our trained machine learning model!
            Either way, you can track your lifts in our workout tracker. The workout tracker allows you to input the average reps, weight, and reps in reserve for each lift in your workout!
            Other features include our calander that displays all days you have tracked your workouts, our tracking history page that allows you to view all past workouts in detail, and our weight recommendation system that helps to ensure you consistently progressively overload!
            <strong>Get started with Fitness Friend with the link below for competely free!</strong>
        </div>
    </main>

    <div class="buttons">
        <a href="{{ url_for('register') }}" class="btn">Get Started Now!</a>
    </div>

    <footer>
        <p>&copy; 2024 Fitness Friend - by Cody Rabie. All rights reserved. </p>
    </footer>
</body>
</html>
