<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FF Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1> Fitness Friend Dashboard</h1>
    </header>

    <main>
        <div class="buttons">
            <!-- Link to create a plan -->
            <a href="{{ url_for('plan') }}" class="btn">Create Plan</a>

            <!-- Link to view existing plans -->
            <a href="{{ url_for('my_plans') }}" class="btn">View Plans</a>

            <!-- Link to track a plan -->
            <a href="{{ url_for('tracker') }}" class="btn">Track a Plan</a>
        </div>

    </main>

    <footer>
        <p>&copy; 2024 Fitness Friend. All rights reserved.</p>
    </footer>
</body>
</html>
