<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Delete a Plan</h1>
        <a href="{{ url_for('my_plans') }}">Back to Plans</a>
    </header>
    <main>
        <form method="POST" action="{{ url_for('delete_plan') }}">
            <label for="plan_id">Select a plan to delete:</label>
            <select name="plan_id" id="plan_id" required>
                {% for plan in plans %}
                    <option value="{{ plan.plan_id }}">{{ plan.plan_name }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit">Delete Plan</button>
        </form>
        
    </main>
    <footer>
        <p>&copy; 2025 Fitness Friend - by Cody Rabie. All rights reserved. </p>
    </footer>
</body>
</html>
