<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Friend Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <h1> Login </h1>
    <p>Don't have an account?</p>
    <a href="{{url_for('register')}}"> Register </a>
    <p> Forgot your password?</p>
    <a href="{{url_for('reset_password')}}" class="button"> Reset password</a>
</header>
                <form method="POST" class="mt-4">
                    {{ form.hidden_tag() }}
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", placeholder="Enter your username") }}
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", placeholder="Enter your password") }}
                    
                    <button type="submit" class="btn btn-primary w-100 mt-2">{{ form.submit.label }}</button>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <p class="flash-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
    
    <footer>
        <p>&copy; 2025 Fitness Friend - by Cody Rabie. All rights reserved. </p>
    </footer>
</body>
</html>
