<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Plans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1> My Plans</h1> <br><br>
            <a href="{{ url_for('dashboard') }}" class="btn">Home</a>
            <a href="{{ url_for('plan') }}" class="btn">Create Plan</a>
            <a href="{{ url_for('delete_plan')}}" class="btn"> Remove Plan</a>
            <a href="{{ url_for('tracker') }}" class="btn">Track Workout</a>
        </nav>
    </header>

    <main>

        {% if plans %}
        <p>
            {% for plan in plans %}
            <div class="plan-bubble">
                <strong><p>{{ plan.plan_name}}</p></strong>
                Notes: {{ plan.plan_type or 'N/A' }} | Duration: {{ plan.plan_duration or 'N/A' }} mins
                <br>
    
                <!-- Display lifts for the plan -->
                {% if plan.lifts %}
                    {% for lift in plan.lifts %}
                        <p>{{ lift.lift_name }} - Sets: {{ lift.sets }}, Reps: {{ lift.reps }}</p>
                    {% endfor %}
                {% else %}
                    <p>No exercises found for this plan.</p>
                {% endif %}
            </div>
            {% endfor %}
        </p>
    {% else %}
        <p>You have not created any plans yet.</p>
    {% endif %}
    
    </main>

    <footer>
        <p>&copy; 2024 Fitness Friend. All rights reserved.</p>
    </footer>
</body>
</html>
