<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<main>
<body>
    <div class="container">
        <h1>Your Tracking History</h1>
        {% if trackings %}
        {% set grouped_trackings = trackings | groupby('date') %}
        {% for date, items in grouped_trackings %}
            <!-- Date Header -->
            <div class="tracking-date">
                <h2 style="text-align: center;">{{ date }}</h2>
            </div>
            
            <!-- Tracking Entries for the Date -->
            <div class="tracking-entries">
                {% for tracking in items %}
                    <!-- Lift Details -->
                    <div class="tracking-card">
                        <h4 class="lift-name">{{ tracking.lift_name }}</h4>
                        <p><strong>Avg Reps Performed:</strong> {{ tracking.reps_performed }}</p>
                        <p><strong>Avg Weight Lifted:</strong> {{ tracking.weight_performed }} lbs</p>
                        <p><strong>Avg Reps in Reserve:</strong> {{ tracking.reps_in_reserve }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No tracking data available.</p>
    {% endif %}
    


        <br>
        <a href="{{ url_for('tracker') }}" class="btn">Back to Tracker</a>
    </div>
</main>
<footer>
    <p>&copy; 2024 Fitness Friend - by Cody Rabie. All rights reserved. </p>
</footer>

</body>
</html>
